<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs')%>
    <title>About</title>
  </head>
  <body>
    <%- include('partials/header.ejs')%>
    <%- include('partials/navigation.ejs')%>
    <div class="jumbotron bg-white">
      <div class="container">
        <h1 class="display-4">About Online Book Depot</h1>
        <p class="lead">Here you can find the books online and join book clubs and events.</p>
        <hr class="my-4">
        <p class="lead">Check out connections sections for next events and clubs.</p>
      </div>
    </div>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
