<!DOCTYPE html>
<html lang="en">
<head>
	<title>Book Depot</title>
	<%- include('partials/head.ejs')%>
</head>
<body>
	<%- include('partials/header.ejs')%>
	<%- include('partials/navigation.ejs')%>

	<div class="jumbotron bg-white">
		<div class="container">
		  <h1 class="display-4">Welcome to Online Book Depot</h1>
		  <p class="lead">Start learning.</p>
		  <hr class="my-4">
		  <p class="lead">Here you can find the books online and join book clubs and events.</p>
		  <a class="btn btn-info btn-lg" href="connections" role="button">View Connections</a>
		</div>
	</div>

	<%- include('partials/footer.ejs') %>
</body>
</html>
