<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    	<link rel="stylesheet" type="text/css" href="../assets/styles/main.css">
    <title>Login</title>
  </head>
  <body>
    <header>
      <%- include('partials/header.ejs')%>
    </header>
    <header>
      <%- include('partials/navigation.ejs')%>
    </header>

    <section id="content">
			<h1>Welcome Online Book Depot</h1>
			<p>
				Please enter below details to Signup!
      </p>
      
      <div class="error-message" style="color:red">
        <% if(errorMsg.length>0){ %>
          <% errorMsg.forEach(function(item){ %>
            <p><span><%= item.msg %></span></p>
          <% }); %>
        <% } %>
      </div>

      <form action="/signup" method="post">
        <table>
          <tr>
            <td><input type="text" name="firstname" value="" placeholder="First Name" ></td>
            <td><input type="text" name="lastname" value="" placeholder="Last Name" ></td>
          </tr>
          <tr>
            <td><label class="label"> Username </label></td>
            <td><input type="text" name="username" value="" ></td>
          </tr>
          <tr>
            <td><label class="label"> Email </label></td>
            <td><input type="text" name="email" value="" ></td>
          </tr>
          <tr>
            <td><input type="password" name="password" value="" placeholder="Password"></td>
            <td><input type="password" name="confirm_password" value="" placeholder="Confirm Password"></td>
          </tr>
          <tr>
              <td><input type="text" name="address1Field" value="" placeholder="Address" ></td>
              <td><input type="text" name="address2Field" value="" placeholder="Apartment/Suite"></td>
          </tr>
          <tr>
            <td><input type="text" name="city" value="" placeholder="City" ></td>
            <td><input type="text" name="state" value="" placeholder="State" ></td>
          </tr>
          <tr>
            <td><input type="text" name="country" value="" placeholder="Country" ></td>
            <td><input type="text" name="zip" value="" placeholder="Zip Code" ></td>
          </tr>
          <tr>
            <td></td><td><input type="submit" value="Sign up"></td>
          </tr>
        </table>
      </form>
		</section>
    <!-- <footer>
  		<%- include('partials/footer.ejs') %>
  	</footer> -->
  </body>
</html>
