.required .control-label:after { 
    color: #d00;
    content: "*";
}
input::-webkit-input-placeholder {
    color:#d8dbdd !important;
    }
     
    input:-moz-placeholder { /* Firefox 18- */
    color:#d8dbdd !important;  
    }
     
    input::-moz-placeholder {  /* Firefox 19+ */
    color:#d8dbdd !important;  
    }
     
    input:-ms-input-placeholder {  
    color:#d8dbdd !important;  
    }