<% if(session==undefined){ %>
  <nav class="navbar navbar-inverse">
    <div class="countainer-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="newConnection"> Start a new connection </a></li>
        <li><a href="login"> Login </a></li>
        <li><a href="login"> Sign Up! </a></li>
      </ul>
    </div>
  </nav>
<% } else { %>
  <nav class="navbar navbar-default">
    <a href="newConnection"> Start a new connection </a>
    <a href="savedConnections"> My Connections </a>
    <a href="/logout"> Sign Out </a>
  </nav>
<% } %>
