<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    	<link rel="stylesheet" type="text/css" href="../assets/styles/main.css">
    <title>About</title>
  </head>
  <body>
    <header>
      <%- include('partials/header.ejs')%>
    </header>
    <header>
      <%- include('partials/navigation.ejs')%>
    </header>

    <section id="content">
			<h1>About Online Book Depot</h1>
			<p>
				Here you can find the books online and join book clubs and events.
			</p>
			<p>
				Check out connections sections for next events and clubs.
			</p>

		</section>
    <footer>
  		<%- include('partials/footer.ejs') %>
  	</footer>
  </body>
</html>
